* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  width: 100%;
  overflow: scroll;
}

ul {
  overflow: hidden;
  list-style-type: none;
  justify-content: center;
}

li {
  display: inline-block;
}

li a,
a img {
  /* display: inline-block; */
  vertical-align: middle;
  text-decoration: none;
}

.header-nav {
  list-style-type: none;
}

/* Assign grid instructions to our parent grid container */
.grid-container {
  display: grid;
  /* grid-template-columns: 100%; */
  /* grid-auto-rows: auto; */
  /* grid-template-columns: 80px 1fr; */
  grid-template-rows: 58px 63px 1fr;
  grid-template-areas:
    "header"
    "sidenav"
    "main";
  height: 100vh;
}

@media (min-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: auto;
    grid-template-columns: 60px 1fr;
    grid-template-rows: 58px 1fr;
    grid-template-areas:
      "header header"
      "sidenav main";
    height: 100vh;
  }
}

.header {
  display: grid;
  grid-area: header;
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: #6b70be;
  height: 58px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
}
.nav {
  z-index: 1;
  display: flex;
  grid-area: sidenav;
  flex-direction: row;
  /* justify-content: space-evenly; */
}

@media (min-width: 768px) {
  .nav {
    display: block;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.main {
  display: grid;
  z-index: 0;
  grid-area: main;
  grid-row-start: 3;
  grid-row-end: 3;
  /* background-color: #d8a929; */
  /* height: 338px; */
}

@media (min-width: 768px) {
  .main {
    width: 100%;
  }
}

.header-nav {
  justify-content: center;
  align-content: center;
  margin: 1em;
  vertical-align: middle;
  height: 3px;
}

#header-nav-profile {
  float: right;
  vertical-align: middle;
}

#header-nav-profile li {
  display: inline-block;
}

/* Your App Logo */

#nav-logo {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 1em;
  vertical-align: middle;
  display: inline-block;
}

#bold-style-logo {
  font-weight: 700;
}

#regular-style-logo {
  font-weight: 300;
}

.trademark {
  font-size: 0.5em;
}
/* header-nav-profile */

.nav-profile {
  margin: 0;
  padding-right: 0;
  vertical-align: middle;
  float: right;
}

.alert-icon-bell {
  width: 23px;
  height: 23px;
  margin-bottom: 0;
  margin-right: 0.1 em;
  vertical-align: middle;
}

.alert-icon-bell path {
  fill: #b3b3e4;
}

.alert-icon-bell:hover path {
  /* content: ""; */
  /* transition: 0.4s 0.1s ease-in-out; */
  fill: #ffffff;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding-left: 90px;
  margin-left: 300px;
  /* padding-right: 10px; */
  padding-top: 8px;
  padding-bottom: 10px;
  margin-right: 0;
  z-index: 4;
}

.close:hover {
  color: grey;
}

.popup {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  bottom: -15em;
  right: 1.5em;
  background: white;
  box-shadow: 0 1px 3px rgba(99, 99, 99, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 4;
  padding: 6px 16px;
  font-size: 14px;
  border-radius: 3px;
  line-height: 1.5em;
}

.popup p {
  margin-bottom: 0.8em;
}

@media (min-width: 768px) {
  .popup {
    right: 10em;
    bottom: -15em;
    padding: 10px 26px;
  }
}

.popup:hover {
  box-shadow: 0 14px 28px rgba(190, 190, 190, 0.15),
    0 10px 10px rgba(0, 0, 0, 0.22);
}

/* The actual popup */
/* .popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
} */

/* Popup arrow */
/* .popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
} */

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
/* 
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */

/* @keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */

.badge {
  background: rgb(255, 81, 81);
  width: 16px;
  height: 16px;
  border-radius: 80%;
  float: right;
  position: absolute;
  top: 10px;
  right: 140px;
  font-size: 8px;
  font-weight: 600;
  color: white;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
  vertical-align: middle;
  padding: 2px;
}

.vertical-line {
  border-left: 0.04em solid #333564;
  height: 60px;
  vertical-align: middle;
  margin-bottom: 0;
  margin-left: 0.5em;
}

.profile-img {
  display: inline-block;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 0.5em;
  margin-bottom: 0;
}

.username {
  color: white;
  font-size: 0.8em;
  vertical-align: middle;
  font-weight: 400;
  margin-top: 0;
  margin-left: 0.25em;
  margin-bottom: 0;
}

.sidenav {
  /* display: grid; */
  /* height: 100%;  */
  width: 100%; /* Set the width of the sidebar */
  position: fixed;
  /* top: 0; */
  left: 0;
  z-index: 0;
  background-color: #333564;
  overflow-x: hidden; /* Disable horizontal scroll */
  margin: auto;
  text-align: center;
}

@media (min-width: 768px) {
  .sidenav {
    display: block;
    height: 100%;
    width: 62px;
    position: fixed;
    text-align: center;
    padding-left: 0px;
  }

  #sideNav a {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    text-align: center;
    margin-right: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .sidenav-icon-link li a {
    position: absolute;
    margin-bottom: 0;
    /* margin-left: 0.25em; */
    /* text-align: center; */
  }
}

/* The navigation menu links */

#sideNav a,
#sideNav li {
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  /* display: block; */
  text-align: center;
  /* margin-right: 60px; */
  margin-top: 14px;
  margin-bottom: 14px;
}

@media (min-width: 768px) {
  #sideNav a:hover,
  #sideNav li:hover {
    float: left;
    width: 6px;
    border-radius: 0em 0.1em 0.1em 0em;
    background-color: rgb(11, 221, 123);
    margin-top: 14px;
    margin-bottom: 14px;
  }
}

#sideNav a img {
  margin: 20px;
  justify-content: space-between;
}

#IconDashboard,
#IconMembers,
#IconSettings,
#IconVisits {
  width: 28px;
  height: 28px;
  fill: #333;
  transition: 0.3s all ease-in-out;
  justify-content: space-between;
  margin-right: 3em;
}

@media (min-width: 768px) {
  #IconDashboard,
  #IconMembers,
  #IconSettings,
  #IconVisits {
    margin: 0.7em;
  }
}

/* @media (min-width: 768px) {
  #IconDashboard :hover,
  #IconMembers :hover,
  #IconSettings :hover,
  #IconVisits :hover {
  }
} */

#sideNav svg path {
  fill: #666799;
}

#IconDashboard svg path {
  fill: #ffffff;
}

.icon-open img {
  width: 22px;
  height: 22px;
  float: right;
}

/* When you mouse over the navigation links, change their color */
#sideNav svg path:hover {
  fill: #ffffff;
  -webkit-transition: all ease 0.1s;
  -o-transition: all ease 0.1s;
  transition: all ease 0.1s;
}

.sidenav li:hover,
.sidenav li:focus,
.sidenav li.selected a {
  border-color: aquamarine;
  /* border: 6px solid greenyellow; */
}

/* 
svg:hover {
  fill: #82B541;
} */

.main-container {
  /* display: grid; */
  /* margin-left: 90px; */
  /* padding: 0px 0px; */
  /* justify-content: space-between; */
  margin-left: 1em;
  /* margin-right: 0.5em; */
  padding: 0px;
  /* height: 150px; */
  /* background-color: #1d4eaf; */
  color: rgb(28, 129, 230);
  display: flex;
  position: relative;
}

.headline {
  /* display: grid; */
  font-weight: 400;
  color: rgb(150, 150, 150);
  margin-left: 0.2rem;
  margin-right: 1rem;
}

.headline,
.search-container {
  display: inline-block;
  /* vertical-align: middle; */
}

.search-container {
  display: grid;
  /* padding-top: 0.05em; */
  /* padding-bottom: 0.05em; */
  /* padding-left: 4.5em; */
  background: #f7f7f7;
  /* padding-left: 40%; */
  /* padding-right: 20%; */
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  /* margin-right: 20%; */
  border: 0.5px solid #ebebeb;
  /* float: right; */
  width: 100%;
}

@media (min-width: 768px) {
  .search-container {
    overflow: hidden;
  }
}

@media (min-width: 1025px) {
  .search-container {
    /* padding-left: 65%; */
    overflow: hidden;
  }
}

input[type="search"] {
  width: 70%;
  text-align: left;
  float: right;
  padding: 6px;
  margin-right: 1.5em;
  border: 1px solid #ebebeb;
  /* margin-right: 40px; */
  border-radius: 3px;
  font-size: 0.8em;
  color: rgb(221, 221, 221);
  background-position: 98% 0;
  background-image: url("./icons/icon-search.svg");
  background-repeat: no-repeat;
  background-origin: content-box;
  cursor: pointer;
}

::placeholder {
  color: rgb(214, 214, 214);
  opacity: 1;
}

.dashboard-content {
  margin-left: 1em;
  /* margin-right: 1em; */
  /* padding-left: 1em;
  padding-right: 1em; */
}

.alert-box {
  padding-right: 40px;
  padding-left: 20px;
  background-color: #6b70be;
  text-align: left;
  color: white;
  border-radius: 6px;
  font-size: 14px;
  justify-content: center;
  vertical-align: middle;
}

.alert-box li {
  display: inline;
}

.alert-message p {
  /* margin-left: 1em; */
  margin-right: 1em;
  list-style: none;
  /* display: inline-block; */
  /* float: left; */
}

.icon-close {
  width: 12px;
  height: 12px;
  vertical-align: middle;
  display: inline-block;
  align-content: right;
  list-style: none;
  /* float: right;*/
  margin-left: 1em;
  margin-right: 1em;
  position: absolute;
  right: 20px;
  top: 220px;
  fill: white;
}

@media (min-width: 768px) {
  .icon-close {
    top: 157px;
  }
}

canvas {
  max-width: 100%;
}

.header-traffic {
  /* margin-bottom: 0.25em; */
  padding-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-traffic h5 {
  vertical-align: middle;
  color: grey;
  font-weight: 400;
  margin: 0;
  float: left;
}

.traffic {
  margin-top: 1.5em;
  margin-bottom: 2em;
}

.frequency-type {
  display: inline-block;
  font-size: 16px;
  color: grey;
  /* float: right; */
  margin: 0;
}

.frequency-type li {
  background-color: rgb(255, 255, 255);
  padding: 0.4em 1em 0.4em 1em;
  border-radius: 30px;
  color: grey;
  margin: 0;
  z-index: 1;
  font-weight: 600;
  font-size: 12px;
}

.frequency-type li:hover {
  background-color: rgb(11, 221, 123);
  padding: 0.4em 1em 0.4em 1em;
  border-radius: 30px;
  color: white;
  margin: 0;
  z-index: 1;
  font-weight: 600;
  font-size: 12px;
}

.widget-container-graph {
  height: 40vh;
  width: 92vw;
}

@media (min-width: 768px) {
  .widget-container-graph {
  }
}

#trafficChart {
  margin-top: 1.25em;
  /* width: 30px;
  height: 30px; */
  /* margin-bottom: 1.25em; */
}

hr {
  display: block;
  margin: 0;
  width: 100%;
  border-top: 0.1px solid rgb(228, 228, 228);
}

.header-daily {
  padding-bottom: 1em;
}

/* daily container */
.daily-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 0px;
  margin-top: 0px;
}

.daily,
.mobile-users {
  justify-content: space-between;
  padding: 10px;
  background-color: #fff;

  padding: 1em;
  width: 100%;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
}

.daily h5 {
  color: grey;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}

.widget-container-bar {
  position: relative;
}

#dailyChart {
  margin-top: 1em;
  margin-bottom: 1em;
  height: 400px;
  width: 700px;
}

.widget-container-circle {
  position: relative;
}

.header-mobile-users {
  padding-bottom: 1em;
}

.mobile-users {
  border-top: 1px solid rgb(228, 228, 228);
}

.mobile-users h5 {
  color: grey;
  font-weight: 400;
  margin-bottom: 0px;
  margin-top: 0;
}

#doughnutChart {
  margin-top: 1em;
  margin-bottom: 1em;
  height: 20vh;
  width: 40vw;
}

.social-title {
  padding: 1em;
}

.social-container {
  display: grid;
  grid-template-columns: none;
  grid-gap: 12px;
  padding: 1.25em;
  padding-top: 0;
}

@media (min-width: 768px) {
  .social-container {
    grid-template-columns: auto auto auto;
  }
}

.social-title h5 {
  color: grey;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}

.social-container h5 {
  color: grey;
  font-weight: 400;
  margin-top: 1em;
  margin-bottom: 1em;
}

.card {
  background-color: rgb(252, 252, 252);
  border: 1px solid rgb(228, 228, 228);
  border-radius: 6px;
  width: 100%;
  /* height: 13vh; */
  /* margin-top: 0.5em; */
  margin-bottom: 0;
  padding: 1em;
}

.card img a,
.card img {
  margin: 0.5em;
  float: left;
  width: 30px;
  height: 30px;
  fill: white;
}

.icon {
  display: block;
  height: 60px;
  width: 60px;
  line-height: 60px;
  -moz-border-radius: 30px; /* or 50% */
  border-radius: 30px; /* or 50% */
  background-color: #6b70be;
  text-align: center;
  font-size: 2em;
  float: left;
  margin-right: 1em;
  margin-left: 0.5em;
}

.icon svg path {
  fill: white;
}

.icon svg {
  margin: auto;
  width: 30px;
  vertical-align: middle;
}

#FacebookIcon {
  height: 40px;
  width: 40px;
  vertical-align: middle;
}

.card h5 {
  font-size: 1em;
  font-weight: 600;
  color: #6b70be;
  margin: 0;
  padding: 0;
  /* display: flex; */
  vertical-align: middle;
}

.card p {
  font-size: 2em;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.stat-info {
  text-align: left;
  margin-left: 0;
  color: grey;
  vertical-align: middle;
}

.member-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 0px;
  margin-top: 0px;
}

.member-header h5 {
  color: grey;
  font-weight: 400;
  margin-bottom: 1em;
  margin-top: 0;
}

.new-member-container {
  justify-content: space-between;
  background-color: #fff;
  padding: 1.25em;
  width: 100%;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
}

.member-info {
  vertical-align: middle;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.member-list {
  vertical-align: middle;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.member-list h5 {
  color: grey;
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 0.15em;
  margin-top: 0;
}

.member-list p {
  margin-top: 0;
  margin-bottom: 0.5em;
  color: #6b70be;
}

.member-date {
  color: grey;
  margin-left: 65px;
  margin-bottom: 0.5em;
}

@media (min-width: 1240px) {
  .member-date {
    margin-top: -50px;
    margin-left: 90px;
    float: right;
    vertical-align: middle;
    justify-content: center;
  }
}

.member-list img {
  margin: auto;
  width: 50px;
  height: 50px;
  justify-content: center;
  display: block;
  clear: left;
  margin-right: 1em;
  border-radius: 50px;
  float: left;
}

.member-card {
  margin-bottom: 1em;
}

.recent-activity-container {
  justify-content: space-between;
  background-color: #fff;
  padding: 1.25em;
  width: 100%;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .recent-activity-container {
    border-left: 1px solid rgb(228, 228, 228);
  }
}

.recent-activity-container {
  border-top: 1px solid rgb(228, 228, 228);
}

@media (min-width: 768px) {
  .recent-activity-container {
    border-left: 1px solid rgb(228, 228, 228);
    border-top: 0px solid transparent;
  }
}

.activity-header h5 {
  color: grey;
  font-weight: 400;
  margin-bottom: 1em;
  margin-top: 0;
}

.activity-info {
  vertical-align: middle;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.activity-info p {
  display: inline;
}

.activity-list .activity-info img {
  opacity: 0.3;
  float: right;
  /* display: inline; */
  width: 18px;
  margin-right: 0;
}

.activity-list {
  /* display: inline-block; */
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.activity-list h5 {
  color: grey;
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 0.15em;
  margin-top: 0;
  position: relative;
}

.activity-list p {
  margin-top: 0;
  margin-bottom: 0.5em;
  color: grey;
}

.activity-date {
  color: grey;
  margin-left: 75px;
  margin-bottom: 0.5em;
}

@media (min-width: 1240px) {
  .activity-date {
    /* float: right; */
    /* margin-top: -50px; */
    /* margin-left: 10px; */
    margin-top: -50px;
    margin-left: 90px;
    float: right;
    vertical-align: middle;
    justify-content: center;
  }
}

.activity-list img {
  /* float: left; */
  margin: auto;
  width: 50px;
  /* height: 50px; */
  /* vertical-align: middle; */
  justify-content: center;
  display: block;
  /* clear: left; */
  margin-right: 1.5em;
  border-radius: 50px;
  float: left;
  position: relative;
}

.activity-card {
  margin-bottom: 1em;
}

@media (min-width: 768px) {
  .mobile-users {
    border-left: 1px solid rgb(228, 228, 228);
    border-top: 0px solid transparent;
  }
}

.message-header h5 {
  vertical-align: middle;
  color: grey;
  font-weight: 400;
  float: left;
  margin-top: 0;
}

.form-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  /* grid-auto-rows: 380px; */
  /* grid-auto-columns: 100px; */
  grid-gap: 0px;
  /* margin: 20px; */
  margin-top: 0px;
}

.message-form {
  width: 100%;
}

.message-form input {
  padding: 12px;
  width: 98%;
  border-radius: 6px;
  background-color: rgb(252, 252, 252);
  border: 1px solid rgb(228, 228, 228);
  margin-bottom: 1.1em;
  color: rgb(194, 194, 194);
  font-size: 0.9em;
  align-content: left;
}

.message-form textarea {
  resize: none;
  padding-top: 12px;
  padding-right: 12px;
  padding-left: 12px;
  padding-bottom: 60px;
  width: 98%;
  border-radius: 6px;
  background-color: rgb(252, 252, 252);
  border: 1px solid rgb(228, 228, 228);
  margin-bottom: 0.75em;
  color: rgb(194, 194, 194);
  font-size: 0.9em;
  align-content: left;
}

#error {
  color: #ff0033;
  margin-top: 0;
  margin-bottom: 0;
}

#confirm {
  color: #2aac92;
  margin-top: 0;
}

.message-form button {
  padding: 12px;
  width: 98%;
  border-radius: 6px;
  background-color: #6b70be;
  border: 1px solid #6b70be;
  margin-bottom: 1.5em;
  color: #fff;
  font-size: 0.9em;
  align-content: left;
  text-transform: uppercase;
  font-weight: 600;
}

.message-form button:hover {
  background-color: #4e54a7;
  border: 1px solid #4e54a7;
}

.message-form-container {
  justify-content: space-between;
  background-color: #fff;
  padding: 1.25em;
  width: 100%;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgb(228, 228, 228);
}

.settings-header h5 {
  vertical-align: middle;
  color: grey;
  font-weight: 400;
  /* float: left; */
  margin-top: 0;
}

.setting-form p {
  color: grey;
  font-weight: 400;
  margin-right: 0.5em;
  /* float: left; */
}

.setting-form {
  margin-bottom: 15px;
  vertical-align: middle;
}

.toggle-wrap {
  justify-content: space-between;
}

.setting-form p,
.switch {
  display: inline-block;
  vertical-align: middle;
}

.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 34px;
  /* float: right; */
  padding: 0px;
  margin-left: 3em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  float: right;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  vertical-align: middle;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  vertical-align: middle;
}

input:checked + .slider {
  background-color: #6b70be;
}

input:focus + .slider {
  box-shadow: 0 0 1px #6b70be;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  left: 24px;
}

.slider:after {
  box-sizing: border-box;
  content: "On";
  font-size: 14px;
  padding-top: 6px;
  left: 3.5em;
  color: white;
  vertical-align: middle;
  /* display: relative; */
  position: absolute;
}

input:checked + .slider:after {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  box-sizing: border-box;
  content: "Off";
  font-size: 14px;
  padding-top: 6px;
  left: -1em;
  color: white;
  vertical-align: middle;
  /* display: relative; */
  position: absolute;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* .settings-area button {
  padding: 12px;
  width: 50%;
  border-radius: 6px;
  background-color: #6b70be;
  border: 1px solid #6b70be;
  margin-bottom: 1.5em;
  color: #fff;
  font-size: 0.9em;
  align-content: left;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
} */

.btn-save,
.btn-cancel {
  display: inline;
  padding: 12px;
  border-radius: 6px;
  /* margin-bottom: 1.5em; */
  font-size: 0.9em;
  align-content: left;
  text-transform: uppercase;
  font-weight: 600;
  /* display: flex; */
}

.btn-save {
  /* display: inline; */
  background-color: #6b70be;
  border: 1px solid #6b70be;
  color: white;
  width: 48%;
  /* float: left; */
  margin-right: 5px;
}

.btn-save:hover {
  background-color: #4e54a7;
  border: 1px solid #4e54a7;
  color: white;
  width: 48%;
  /* float: left; */
  margin-right: 5px;
}

.btn-cancel {
  width: 48%;
  float: right;
  color: white;
  background-color: rgb(189, 189, 189);
  border: 1px solid rgb(189, 189, 189);
}

.btn-cancel:hover {
  width: 48%;
  float: right;
  color: white;
  background-color: rgb(163, 163, 163);
  border: 1px solid rgb(163, 163, 163);
}

.settings-container {
  justify-content: space-between;
  background-color: #fff;
  padding: 1.25em;
  width: 100%;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .settings-container {
    border-left: 1px solid rgb(228, 228, 228);
    border-top: 0px solid transparent;
  }
}

.custom-select {
  position: relative;
  font-family: "Open Sans", sans-serif;
}

.custom-select select {
  display: block;
  font-size: 16px;
  font-weight: 400;
  color: rgb(194, 194, 194);
  line-height: 1.3;
  padding: 12px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin-top: 4em;
  margin-bottom: 1.5em;
  border: 1px solid rgb(228, 228, 228);
  /* box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04); */
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: rgb(252, 252, 252);
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}
